#nest-messages_user_name{
    color: black;
    width: 80%;
}
#nest-messages_user_email{
    color: black;
    width: 80%;
}
#nest-messages_gioitinh_sex{
    color: black;
    width: 30%;
}
#nest-messages_ngaysinh_brithday{
    color: black;
    width: 60%;
}